<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreiSuchi - Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    {% include 'header.html' %}
    {% block content %}{% endblock %}
    <div id="header">
        <div class="header-text">
            <h1>Greetings! We are DreiSuchi</h1>
            <h2 class="text1">We make <span id="typewriter" class="role_effect"></span></h2>
            <script src="{{ url_for('static', filename='typewriter.js') }}"></script>
        </div>
    </div>
    {% include 'footer.html' %}
    </body>
</html>
