<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andrei's Portfolio | My Works</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icons/andrei.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/myworks.css') }}">
    <link href="https://fonts.googleapis.com/css?family=League+Gothic&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'header.html' %}
    {% block content %}{% endblock %}
    <h1 class="text1">MY WORKS</h1>
    <p class="intro-text">
        Explore a selection of my design and development projects below.
        Each project highlights my skills and experience in graphic design and web development.
    </p>

    <div class="works-cards">
        <div class="card">
            <img src="{{ url_for('static', filename='img/work_4.png') }}" alt="Uniform Design">
            <h2>Uniform Design</h2>
            <p>Uniform design created for the employees of the Traffic Engineering Office under the local government unit.</p>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='img/Banner_Template.png') }}" alt="Banner Design">
            <h2>Youtube Banner Design</h2>
            <p>This is a sample Youtube banner design</p>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='img/SgtMoi_NewLogo.png') }}" alt="Sgt. Moi Logo">
            <h2>Sgt. Moi Chicken Lechon Logo</h2>
            <p>Logo for a local business here in Iligan City</p>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='img/MSUIIT@START.png') }}" alt="Web App 1">
            <h2>Student Recommendation Web Application (START@MSU-IIT)</h2>
            <p>This web application utilizes a recommendation model developed by MSU-IIT to suggest college programs based on students' academic performance and background.</p>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='img/IBJT-West.png') }}" alt="Web App 2">
            <h2>IBJT-Westbound Website</h2>
            <p>A website made for Iligan Bus and Terminal - Westbound (EEDMO)</p>
        </div>
        </div>
        <div style="text-align:center; margin: 32px 0;">
            <a href="https://drive.google.com/drive/folders/1WZBu-kR88Ln5qyET6ogI_HTqyn9dB6ZB?usp=sharing" class="seemore-button">SEE MORE</a>
        </div>
        <br><br>
    {% include 'footer.html' %}
</body>
</html>
